<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  <servlet>
    <servlet-name>httpReceiver</servlet-name>
    <servlet-class>com.gridnode.pdip.base.transport.handler.receiver</servlet-class>
    <init-param>
      <param-name>transport.http.servlet.configfile</param-name>
      <param-value>conf/default/pdip/base/transport/transport.properties</param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.servlet.proxyfile</param-name>
      <param-value>conf/default/pdip/framework/proxies.properties</param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.servlet.logfile</param-name>
      <param-value>HttpReceiver</param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.servlet.logheader</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.servlet.loglevel</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.sync.timeout</param-name>
      <param-value>1500</param-value>
    </init-param>    
    <init-param>
      <param-name>appserver.jndi.url_pkg_prefixes</param-name>
      <param-value>org.jboss.naming:org.jnp.interfaces</param-value>
    </init-param>
    <init-param>
      <param-name>appserver.jndi.topic.bridge_to_app</param-name>
      <param-value>topic/fromRouter</param-value>
    </init-param>
    <init-param>
      <param-name>appserver.jndi.initial_context_factory</param-name>
      <param-value>org.jnp.interfaces.NamingContextFactory</param-value>
    </init-param>
    <init-param>
      <param-name>appserver.jndi.topic_connection_factory</param-name>
      <param-value>ConnectionFactory</param-value>
    </init-param>
    <init-param>
      <param-name>appserver.jndi.provider_url</param-name>
      <param-value>localhost:1099</param-value>
    </init-param>
    <init-param>
      <param-name>transport.https.keystore.name</param-name>
      <param-value>conf/default/pdip/base/transport/tomcat.ks</param-value>
    </init-param>
    <init-param>
      <param-name>transport.https.keystore.export.handler</param-name>
      <param-value>http://localhost:8080/httpChannel/servlet/httpSender</param-value>
    </init-param>
    <init-param>
      <param-name>transport.https.truststore.export.handler</param-name>
      <param-value>http://localhost:8080/httpChannel/servlet/httpSender</param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.receiver.sender.url</param-name>
      <param-value>http://localhost:8080/httpChannel/servlet/httpSender</param-value>
    </init-param>
    <init-param>
      <param-name>transport.https.keystore.password</param-name>
      <param-value>changeit</param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.http_proxy_url</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.http_proxy_pac</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.http_proxy_port</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.http_proxy_username</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>transport.http.http_proxy_password</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>httpSender</servlet-name>
    <servlet-class>com.gridnode.pdip.base.transport.handler.sender</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>httpReceiver</servlet-name>
    <url-pattern>/rosettanet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>httpSender</servlet-name>
    <url-pattern>/rosettanet/sender/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>httpReceiver</servlet-name>
    <url-pattern>/AS2/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>httpSender</servlet-name>
    <url-pattern>/AS2/sender/*</url-pattern>
  </servlet-mapping>  
</web-app>
