# Change History
# 10 Mar 2006   Added new parameter -PS to specify process instance id for:
#               1. link response msg (import file) to existing process
#               2. the new process initiated by the request msg (import file)
# 10 Apr 2007   Added new parameter -TI to specify the unique tracing id for a single imported file.
#               This id will be used to trace the imported file throughout GridTalk.
#               If not specified, GridTalk will generate one.

# Usage : SenderLite -I "IP" -O "PORT" -N "USERNAME" -W "PASSWORD"
# -F "IMPORT_FILE;.." [-A "ATTACHMENT_FILE;.."] [-X] [-Y] [-S "SMTP"]
# [-E "EMAIL"] [-D "DOC_TYPE"] [-P "PARTNER_ID"] [-R "RN_PROFILE"]
# [-B "BIZ_ENT_ID"] [-U "UNIQUE_DOC_ID"] [-PS "PROCESS_INST_ID"] [-TI "TRACING_ID"] [-Z]
# IP              - The IP address of the GridTalk server
# PORT            - The listening port on the GridTalk server
# USERNAME        - The GridTalk user making the connection to GridTalk server
# PASSWORD        - The password of the GridTalk user
# IMPORT_FILE     - The full path of the file to be imported to GridTalk. To
#                   specify more than one file, use ; to separate them
# ATTACHMENT_FILE - The full path of the file to be attached to the import file.
#                   To specify more than one file, use ; to separate them
# X               - Delete the import files after sending to GridTalk
# Y               - Delete the attachment files after sending to GridTalk
# SMTP            - The SMTP server to use to send error notifications
# EMAIL           - The email to receive error notifications
# DOC_TYPE        - The document type of the import file
# PARTNER_ID      - The partner ID of the partner to recieve the files
# RN_PROFILE      - The rn_profile UID to link the import files to the RosettaNet
#                   process in GridTalk
# BIZ_ENT_ID      - The business entity ID of the user who imports the files
# UNIQUE_DOC_ID   - A unique identifier for the document to be imported
# PROCESS_INST_ID - The process instance id of the RosettaNet process in GridTalk to
#                   1. link the imported file as response message; or
#                   2. use as the pip instance identifier of the imported request message
#                   This takes precedence over RN_PROFILE if both are specified.
# TRACING_ID      - The unique id for tracing the imported document within the GridTalk (to be used only for single import)
# Z               - Switch on debugging messages

# sample usage: 
# . $GRIDTALK_HOME/bin/setenv.sh
# $JAVA_HOME/bin/java -jar senderlite.jar -I 127.0.0.1 -O 6763 -N admin -W admin -B DEF -R 1 -S smtp.mycompany.com -E admin@gridnode.com -D UC -P 00001000 -F /home/orders/orders.xml -U DOC001 -X
