<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head id="xhtml_head">
    <title id="title">lbGridTalk</title>
    <base href="file:///C:\views\i00054_GT_2.0_I8_2\GTAS\GridTalk\web/gt.css" id="base_tag"/>
    <link id="xhtml_stylesheet" rel="stylesheet" href="gt.css" type="text/css"/>
  </head>

  <body id="xhtml_body" leftmargin="10" topmargin="10" marginwidth="10" marginheight="10">
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="left" valign="top">
        <td align="right" rowspan="2" width="99%">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr id="insert_error_parent">
              <td align="left" valign="top" colspan="2">
                <div id="insert_error">
                </div>
              </td>
            </tr>
            <tr id="processing_request_parent" style="display: none;">
              <td align="left" valign="top" colspan="2">
                <h3 id="processing_request_message">
                </h3>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top" colspan="2" id="content_parent">
                <table 	bgcolor="dae2f0" width="100%" border="1"
                        style="border-color: 586479; background-color: #dae2f0;"
                        cellpadding="1" cellspacing="0">
                  <tr><td style="border: solid, none, solid, solid;">
                    <div id="insert_page">
                    </div>
                  </td></tr>
                  <tr id="common_buttons_row"><td style="border: none, solid, solid, solid;" align="center" valign="middle">
                    <br/>
                    <p id="common_buttons">
                      <span id="edit_button">
                        <a id="edit" onclick="submitWithMethod('update',false); return false;" href="javascript: void(0);">
                          <img id="edit_icon" src="images/actions/edit.gif" border="0" style="vertical-align: text-top; margin-right: 3;"/>
                          lbEdit
                        </a>
                        &nbsp;
                      </span>
                      <span id="ok_button">
                        <a id="ok" onclick="submitWithMethod('save',true); return false;" href="javascript: void(0);">
                          <img id="ok_icon" src="images/actions/save.gif" border="0" style="vertical-align: text-top; margin-right: 3;"/>
                          lbSave
                        </a>
                        &nbsp;
                      </span>
                      <span id="help_button">
                        <a id="help" onclick="openHelp('help/altpres/help.jsp'); return false;" href="javascript: void(0);">
                          <img id="help_icon" src="images/actions/help.gif" border="0" style="vertical-align: text-top; margin-right: 3;"/>
                          lbHelp
                        </a>
                        &nbsp;
                      </span>
                      <span id="cancel_button">
                        <a id="cancel" onclick="submitWithMethod('cancel',true); return false;" href="javascript: void(0);">
                          <img id="cancel_icon" src="images/actions/cancel.gif" border="0" style="vertical-align: text-top; margin-right: 3;"/>
                          lbCancel
                        </a>
                        &nbsp;
                      </span>
                    </p>
                    <br/>
                  </td></tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>