<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head id="xhtml_head">
    <title id="title">lbGridTalk</title>
    <base href="file:///C:\viewroot\i00054_GT_2.0_I8_2\GTAS\GridTalk\web/gt.css" id="base_tag"/>
    <link id="xhtml_stylesheet" rel="stylesheet" href="gt.css" type="text/css"/>
  </head>

  <body id="xhtml_body" leftmargin="10" topmargin="10" marginwidth="10" marginheight="10" background="images/backgrounds/stdBackground.gif" bgproperties="fixed">
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
      <tr align="left" valign="top">
        <td align="right" rowspan="2" width="99%">
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr id="insert_error_parent">
              <td align="left" valign="top" colspan="2">
                <div id="insert_error">
                </div>
              </td>
            </tr>
            <tr id="processing_request_parent" style="display: none;">
              <td align="left" valign="top" colspan="2">
                <h3 id="processing_request_message">
                </h3>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top" colspan="2">
                <div id="insert_page">
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>